@media (min-width: 701px) {
}
@media (max-width: 700px) {
  .carousel {
    position: relative;
    border-radius: 10px;
    max-width: 250px;
    margin: auto;
    overflow: hidden;
  }
  .carousel img {
    width: 100%;
    height: auto;
    display: block; /* Ensure the image is displayed as a block element */
  }
  .slideDirection {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Add some spacing between the image and arrows */
  }
  .leftDirection,
  .rightDirection {
    color: #fff;
    padding: 10px;
    cursor: pointer; /* Add cursor pointer to indicate clickability */
  }
  .rightDirection {
    margin-left: auto; /* Push it to the right */
  }
  .indicator {
    margin-top: 10px; /* Add some spacing between the image and dots */
    display: flex;
    justify-content: center;
    gap: 10px; /* Add spacing between the dots */
  }
  .dot {
    background-color: #333;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer; /* Add cursor pointer to indicate clickability */
  }
  .active {
    background-color: #333;
  }
}
