@media (max-width: 700px) {
  .datenschutzTitle,
  .datenschutzHeadings {
    font-size: 1.5em;
    padding: 10px;
  }
  .datenschutzParagraphs {
    font-size: 0.8em;
    margin: 10px;
  }
  .datenschutzList,
  .datenschutzOrderedList {
    padding-left: 20px;
  }
  .datenschutzListItems {
    margin: 5px 0;
    font-size: 0.8em;
  }
}
@media (min-width: 701px) {
  .datenschutzTitle {
    font-size: 2em;
    padding: 20px;
  }
  .datenschutzHeadings {
    font-size: 1.8em;
    padding: 15px;
  }
  .datenschutzParagraphs {
    font-size: 1em;
    margin: 15px;
  }
  .datenschutzList {
    padding-left: 30px;
  }
  .datenschutzListItems {
    margin: 8px 0;
    font-size: 1em;
  }
  .datenschutzOrderedList {
    list-style: decimal;
    padding-left: 30px;
  }
}
.datenschutzTitle,
.datenschutzHeadings {
  text-align: center;
}
.datenschutzParagraphs {
  text-align: justify;
}
.datenschutzList,
.datenschutzOrderedList {
  list-style-type: disc;
  margin: 15px;
}
.datenschutzListItems {
  font-size: 1em;
}
