@media (min-width: 701px) {
  .filmeinreichungTopContainer,
  .filmEinreichungCamera img,
  .schritteContainer,
  .richtLinienContainer,
  .schritteName,
  .schritteBeschreibung,
  .mehrInfoButtonContainer,
  .downloadButton,
  .mehrInfoButton,
  .filmEinreichenButtonText,
  .guidelinesListContainer,
  .guidelinesListItems,
  .guidelinesListHeadlines,
  .filmClapperHeading,
  .filmClapperText,
  .filmeEinreichenButtonContainer,
  .filmEinreichenButton,
  .filmEinreichenText,
  .countdownNumber,
  .countdownText {
    font-family: "Halcyon Black", sans-serif;
  }
  .filmeinreichungTopContainer,
  .filmEinreichungCamera img,
  .schritteContainer,
  .richtLinienContainer,
  .mehrInfoButtonContainer,
  .guidelinesListContainer,
  .filmEinreichenButtonContainerOne {
    text-align: center;
  }
  .filmeinreichungTopContainer {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .filmeinreichungTopContainer h1 {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
  }
  .filmeinreichungTopContainer p {
    padding-top: 15px;
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
  }
  .desktopContainer {
    display: flex;
    flex-direction: column;
    width: 65%;
  }
  .filmEinreichungCameraContainer {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 3%;
  }
  .filmEinreichungCamera {
    /* border: solid blue 5px; */
    height: 100%;
    width: 35%;
  }
  .filmEinreichungCamera img {
    position: relative;
    width: 100%;
    height: 70%;
    top: 30%;
  }
  .filmeEinreichenButtonContainerTwo {
    display: none;
  }
  .spotlightContainer {
    /* border: solid green 5px; */
    height: 100%;
    width: 65%;
  }
  .spotlight {
    /* border: solid yellow 5px; */
    height: 100%;
    width: 100%;
    transform: translate(-18%, 15%);
    position: relative;
  }
  .deadlineText {
    color: #333c3a;
    position: relative;
    text-align: center;
    font-family: "Halcyon Black", sans-serif;
    font-size: 1.30263rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    transform: translate(30%, -430%);
  }
  .filmEinreichungMiddle {
    padding: 3%;
  }
  .richtLinienContainer {
    padding: 3%;
    text-align: left;
  }
  .richtLinienContainer h2 {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 15px;
  }
  .richtLinienContainer p {
    color: #000;
    font-family: "Halcyon Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 0.75rem */
  }

  .mehrInfoButtonContainer {
    padding: 5%;
  }

  .guidelinesList {
    margin: 0;
    padding-left: 1em;
  }
  .guidelinesListItems {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  .guidelinesListHeadlines {
    font-weight: 700;
  }
  .filmeEinreichenButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .filmEinreichenButton {
    background-color: #e16848;
    color: #fff;
    display: flex;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 2.06075rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-style: none;
    box-shadow: 3px 3px 0px rgb(0 0 0);
    font-family: "Halcyon Medium", sans-serif;
    text-decoration: underline;
  }
  .filmEinreichenText {
    padding: 10%;
    font-size: 1em;
  }
  .schritteContainer {
    padding: 2%;
  }
  .schritteWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Adjust the gap as needed */
    justify-items: center;
  }
  .schritte {
    width: 100%;
    height: 7.86719rem;
    flex-shrink: 0;
    border-radius: 0.74219rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 10.2rem;
  }
  .schritteNummer {
    color: #333c3a;
    font-family: "Halcyon Black", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
  .schritteName {
    color: #333c3a;
    font-family: "Halcyon Black", sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
  .schritteBeschreibung {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.65rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    padding: 8px;
  }
  .mehrInfoButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .mehrInfoButton {
    color: #fff;
    background-color: #e16848;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    border-style: none;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.92775rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border-radius: 0.74219rem;
    text-align: inherit;
    width: 75%;
  }
  .guidelinesListContainer {
    background-color: #d5e7e3;
    padding: 2%;
  }
  .guidelinesListContainer h3 {
    font-family: "Halcyon Medium", sans-serif;
    font-weight: 700;
    text-align: justify;
  }
  .guidelinesList {
    padding: 15px;
  }
  .guidelinesListHeadlines {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-align: justify;
  }
  .guidelinesListItems {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-align: justify;
    margin-bottom: 0;
  }
  .bottomContainer {
    display: flex;
    flex-direction: column;
    padding: 3%;
  }
  .bottomContainer h3 {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 20px;
  }
  .bottomContainer p {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .bottomContainer :nth-child(3) {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding-top: 5px;
  }
  .buttonAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .bottomContainerText {
    color: #333c3a;
    text-align: left;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 35%;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
    z-index: 4;
  }
  .backgroundSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    pointer-events: none;
  }
}
@media (max-width: 700px) {
  .filmEinreichungCameraContainer {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .filmEinreichungCamera {
    /* border: solid blue 5px; */
    height: 100%;
    width: 35%;
  }
  .filmEinreichungCamera img {
    position: relative;
    width: 100%;
    height: 70%;
    top: 30%;
  }
  .spotlightContainer {
    /* border: solid green 5px; */
    height: 100%;
    width: 65%;
  }
  .spotlight {
    /* border: solid yellow 5px; */
    height: 100%;
    width: 100%;
    transform: translate(-18%, 15%);
    position: relative;
  }
  .filmeEinreichenButtonContainerTwo {
    display: none;
  }
  .deadlineText {
    color: #333c3a;
    position: relative;
    text-align: center;
    font-family: "Halcyon Black", sans-serif;
    font-size: 1.30263rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    transform: translate(30%, -430%);
  }
  .spotlightReference {
    top: 60%;
    position: absolute;
    left: 0;
  }
  .filmeinreichungTopContainer {
    padding: 5%;
    text-align: left;
  }
  .filmeinreichungTopContainer h1 {
    color: #333c3a;
    font-family: "Halcyon Black", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
  }
  .filmeinreichungTopContainer p {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .filmEinreichungMiddle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
  }
  .filmEinreichungMiddle h3 {
    color: #333c3a;
    font-family: "Halcyon Black", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-bottom: 15px;
  }
  .filmEinreichungMiddle p {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.5rem */
  }
  .filmEinreichungMiddle p:nth-child(3) {
    padding-top: 5px;
    font-weight: 600;
  }
  .filmEinreichenButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filmEinreichenButton {
    background-color: #e16848;
    color: #fff;
    display: flex;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 2.06075rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-style: none;
    box-shadow: 3px 3px 0px rgb(0 0 0);
    font-family: "Halcyon Medium", sans-serif;
    text-decoration: underline;
  }
  .filmEinreichenButton p {
    color: #fff;
  }
  .richtLinienContainer {
    padding: 5%;
  }
  .richtLinienContainer h2 {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 5px;
  }
  .richtLinienContainer p {
    color: #000;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 0.75rem */
  }
  .schritteContainer {
    padding: 5%;
  }
  .schritteWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Adjust the gap as needed */
    justify-items: center;
  }
  .schritte {
    width: 100%;
    width: 10.2rem;
    height: 7.86719rem;
    flex-shrink: 0;
    border-radius: 0.74219rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .schritteNummer {
    color: #333c3a;
    font-family: "Halcyon Black", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
  .schritteName {
    color: #333c3a;
    font-family: "Halcyon Black", sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
  .schritteBeschreibung {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.72rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    padding: 8px;
  }
  .mehrInfoButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
  }
  .mehrInfoButton {
    color: #fff;
    background-color: #e16848;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    border-style: none;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.92775rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border-radius: 0.74219rem;
    text-align: inherit;
  }
  .polygon {
    width: 65%;
    position: relative;
    right: 15%;
    top: 5%;
  }
  .guidelinesListContainer {
    padding: 5%;
    background-color: #d5e7e3;
  }
  .guidelinesListContainer h3 {
    font-family: "Halcyon Medium", sans-serif;
    font-weight: 700;
  }
  .guidelinesList {
    padding: 15px;
  }
  .guidelinesListHeadlines {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
  }
  .guidelinesListItems {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .bottomContainer {
    display: none;
  }
  .buttonAndText {
    display: none;
  }
}
.schritteColorOne {
  background-color: rgba(91, 160, 146, 0.52);
}
.schritteColorTwo {
  background-color: rgba(246, 204, 94, 0.4);
}
.schritteColorThree {
  background-color: rgba(225, 104, 72, 0.6);
}
.schritteColorFour {
  background-color: rgba(91, 160, 146, 0.26);
}
.schritteColorFive {
  background-color: rgba(246, 204, 94, 0.62);
}
.schritteColorSix {
  background-color: rgba(213, 231, 227, 0.38);
}
.schritteColorSeven {
  background-color: #d5e7e3;
}
.schritteColorEight {
  background-color: #fae8df;
}
/* Common styles for both mobile and desktop */
.filmeinreichungTopContainer {
  font-family: "Halcyon Black", sans-serif;
}
.filmeinreichungTopContainer h1 {
  padding-bottom: 10px;
}
.filmeinreichungTopContainer h4 {
  padding-bottom: 10px;
  font-weight: 300;
}
.filmeinreichungTopContainer p {
  padding-bottom: 10px;
}
  