@media (min-width: 701px) {
  .filmeinreichungTopContainer,
  .filmEinreichungCamera img,
  .schritteContainer,
  .richtLinienContainer,
  .schritteName,
  .schritteBeschreibung,
  .mehrInfoButtonContainer,
  .downloadButton,
  .mehrInfoButton,
  .filmEinreichenButtonText,
  .guidelinesListContainer,
  .guidelinesListItems,
  .guidelinesListHeadlines,
  .filmClapperHeading,
  .filmClapperText,
  .filmeEinreichenButtonContainer,
  .filmEinreichenButton,
  .filmEinreichenText,
  .countdownNumber,
  .countdownText {
    font-family: "Halcyon Black", sans-serif;
  }
  .filmeinreichungTopContainer,
  .filmEinreichungCamera img,
  .schritteContainer,
  .richtLinienContainer,
  .mehrInfoButtonContainer,
  .guidelinesListContainer,
  .filmEinreichenButtonContainer {
    text-align: center;
  }
  .filmeinreichungTopContainer {
    padding: 10%;
  }
  .filmeinreichungTopContainer h1,
  .filmeinreichungTopContainer h4,
  .filmeinreichungTopContainer p {
    padding-bottom: 10px;
  }
  .filmEinreichungCamera img {
    height: 35%;
    width: 35%;
    padding-left: 10%;
  }
  .richtLinienContainer {
    margin: 10%;
  }
  .richtLinienContainer h2 {
    margin-top: 10px;
  }
  .schritteContainer,
  .guidelinesListContainer {
    padding: 10%;
  }
  .schritteContainer {
    border-radius: 20px;
    margin-top: 15px;
  }
  .schritteNummer {
    font-weight: 700;
    font-size: 2em;
  }
  .schritteName,
  .filmClapperHeading {
    font-weight: 700;
  }

  .schritteBeschreibung,
  .filmClapperText {
    padding-top: 5px;
    margin: 10%;
  }
  .mehrInfoButtonContainer {
    padding: 5%;
  }

  .guidelinesList {
    margin: 0;
    padding-left: 1em;
  }
  .guidelinesListItems {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  .guidelinesListHeadlines {
    font-weight: 700;
  }
  .filmeEinreichenButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .filmEinreichenButton {
    background-color: #e16848;
    border-radius: 25px;
    width: 80%;
    height: 60px;
  }
  .filmEinreichenText {
    padding: 10%;
    font-size: 1em;
  }
}
@media (max-width: 700px) {
  .filmeinreichungTopContainer {
    padding: 5%;
    text-align: left;
  }
  .filmeinreichungTopContainer h1 {
    color: #333c3a;
    font-family: "Halcyon Black", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
  }
  .filmeinreichungTopContainer p {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .filmEinreichungMiddle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
  }
  .filmEinreichungMiddle h3 {
    color: #333c3a;
    font-family: "Halcyon Black", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-bottom: 15px;
  }
  .filmEinreichungMiddle p {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.5rem */
  }
  .filmEinreichungMiddle p:nth-child(3) {
    padding-top: 5px;
    font-weight: 600;
  }
  .filmEinreichenButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filmEinreichenButton {
    background-color: #e16848;
    color: #fff;
    display: flex;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 2.06075rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-style: none;
    box-shadow: 3px 3px 0px rgb(0 0 0);
    font-family: "Halcyon Medium", sans-serif;
    text-decoration: underline;
  }
  .filmEinreichenButton p {
    color: #fff;
  }
  .richtLinienContainer {
    padding: 5%;
  }
  .richtLinienContainer h2 {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 5px;
  }
  .richtLinienContainer p {
    color: #000;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 0.75rem */
  }
  .schritteContainer {
    padding: 5%;
  }
  .schritteWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Adjust the gap as needed */
  }
  .schritte {
    width: 100%;
    width: 11.50394rem;
    height: 7.86719rem;
    flex-shrink: 0;
    border-radius: 0.74219rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .schritteNummer {
    color: #333c3a;
    font-family: "Halcyon Black", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
  .schritteName {
    color: #333c3a;
    font-family: "Halcyon Black", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
  .schritteBeschreibung {
    color: #333c3a;
    font-family: "Halcyon Medium", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    padding: 8px;
  }
  .polygon {
    width: 65%;
    position: relative;
    right: 15%;
    top: 5%;
  }
}
.schritteColorOne {
  background-color: #5ba092;
}
.schritteColorTwo {
  background-color: #f6cc5e;
}
.schritteColorThree {
  background-color: #e16848;
}
.schritteColorFour {
  background-color: #5ba092;
}
.schritteColorFive {
  background-color: #f6cc5e;
}
.schritteColorSix {
  background-color: #ffcaaf;
}
.schritteColorSeven {
  background-color: #d5e7e3;
}
.schritteColorEight {
  background-color: #fae8df;
}
/* Common styles for both mobile and desktop */
.filmeinreichungTopContainer {
  font-family: "Halcyon Black", sans-serif;
}
.filmeinreichungTopContainer h1 {
  padding-bottom: 10px;
}
.filmeinreichungTopContainer h4 {
  padding-bottom: 10px;
  font-weight: 300;
}
.filmeinreichungTopContainer p {
  padding-bottom: 10px;
}
.filmEinreichungCamera img {
  height: 35%;
  width: 35%;
  padding-left: 10%;
}
