@media (max-width: 700px) {
  .impressumContainer {
    padding-bottom: 20px;
    padding-right: 5px;
  }
  .impressumParagraph,
  .impressumListItem {
    margin: 10px 0;
    font-size: 0.8em;
    list-style-position: inside;
  }
}
@media (min-width: 701px) {
  .impressumContainer {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
  }
  .impressumParagraph,
  .impressumListItem {
    margin: 15px 0;
    font-size: 1em;
    text-align: center;
    list-style-position: inside;
  }
  .impressumList {
    padding-left: 30px;
    margin: 15px 0;
    list-style-position: inside;
  }
}
/* Impressum Common Styles */
.impressumContainer {
  text-align: center;
}
.impressumList {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
}
.impressumLink {
  color: #007bff;
  text-decoration: none;
}
.impressumLink:hover {
  text-decoration: underline;
}
