@media (max-width:700px) {
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 20px auto;
    text-align: center;
  }
  .boxTitle {
    font-size: 1.7em;
    margin: 10px;
  }
  .boxImage {
    display: flex;
    justify-content: center;
  }
  .boxImageContent {
    max-width: 100%;
    max-height: 300px;
  }
  .boxContent {
    width: 329px;
    height: 300px;
    background-color: #e16848;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boxText {
    text-align: center;
  }
  .boxText p {
    padding: 5px;
  }
  .boxText h3 {
    padding: 10px;
  }
  .mapIconSmall {
    height: 15px;
    width: 15px;
    margin-left: 10px;
  }
  .map {
    width: 85%;
    height: 400px;
  }
  .mapContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .socialsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2efec;
    text-align: center;
  }
  .kontaktSocialsKijufi {
    font-size: 2.2em;
    margin-top: 10px;
  }
  /* Kontakt form styling */
  .formContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #e16848;
  }
  .formField {
    margin-bottom: 20px;
  }
  .inputField,
  .textAreaField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.2s;
  }
  .inputField:focus,
  .textAreaField:focus {
    border-color: #007bff;
    outline: none;
  }
  .submitButton {
    background-color: white;
    color: #e16848;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .submitButton:hover {
    background-color: #0056b3;
  }
}
@media (min-width:701px) {
  .boxImageContent {
    height: 100px;
    width: 100px;
  }
  .kontaktContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
  }
  .box {
    display: flex;
  }
  .containerSocialsAndForm {
    display: flex;
    justify-content: space-between;
  }
  .formContainer {
    max-width: 600px;
    padding: 40px;
    background-color: #e16848;
  }
  .formField {
    margin-bottom: 30px;
  }
  .inputField,
  .textAreaField {
    padding: 15px;
    font-size: 16px;
  }
  .submitButton {
    padding: 15px 30px;
    font-size: 18px;
  }
  .socialsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    position: relative;
    background-color: #d5e7e3;
  }
  .kontaktSocialsKijufi {
    font-size: 5em;
  }
}