/* Common Styles for navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px 70px 36px 70px;
  flex-shrink: 0;
}
.navbarSocials {
  display: flex;
  margin-top: 25px;
}
.kijufiImage {
  margin-top: 25px;
  margin-left: 40px;
}
/* Common Styles for title */
.headerMenu {
  display: flex;
  justify-content: space-between;
}
.titleContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 150px; /* Adjust the height as needed */
  font-size: 1em;
  color: Black;
}
.title {
  font-family: "Halcyon Black", sans-serif;
  font-size: 2.5em;
  line-height: normal;
  font-weight: 400;
  color: #e16848;
  text-align: center;
  text-shadow: 10.099px 7.214px 0px #d5e7e3;
}
/* Common Styles for social icons and kijufi */
.socialIcon {
  width: 35px;
  height: 35px;
  display: none;
}
.kijufi {
  padding-left: 10px;
  padding-top: 10px;
  display: none;
}
/* Common Styles for burger button */
.burgerButton {
  background-color: #e16848;
  border-radius: 50px;
  width: 80px;
  height: 40px;
  color: #fff;
  border: none;
  cursor: pointer;
}
/* Styles for smaller screens */
@media (max-width: 700px) {
  .navbar {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
  }
  .title {
    font-size: 1.8755rem;
  }
  .burgerButton {
    width: 80px;
    height: 40px;
  }
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  .bm-morph-shape,
  .bm-overlay {
    fill: #373a47;
    background: #e16848 !important;
  }
  .kinderFestival {
    font-size: 1.4em;
    font-weight: 700;
    font-family: "Halcyon Black", sans-serif;
    text-align: center;
    font-style: normal;
  }
}
/* Styles for larger screens */
@media (min-width: 701px) {
  .kijufi {
    width: 137.037px;
    height: 62.767px;
    flex-shrink: 0;
  }
}
