@media (min-width: 701px) {
  /* Programm Desktop styling */
  .programmHeadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .programmScheduleDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .programmDayDesktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 90%;
    margin: 20px 1%;
    padding: 10px;
  }
  .programmDayDesktop:nth-child(even) {
    flex-direction: row;
  }
  .programmEvent {
    list-style: none;
  }
  .programmPoster {
    width: 50%;
  }
  .evenDay {
    flex-direction: row-reverse;
  }
  .oddDay {
    flex-direction: row;
  }
  .programmDaySchedule {
    flex: 1;
    padding-left: 10px;
  }
  .essenKarte {
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 400px;
    background-color: #d5e7e3;
    border-radius: 45px;
    margin: 5%;
  }
  .essenKarteHeading {
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .flyerContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 10%;
  }
  .flyerHeader {
    font-size: 2.5em;
    padding: 5%;
  }
}
@media (max-width: 700px) {
  /* Programm Styling */
  .programmHeading {
    font-family: "Halcyon Black", sans-serif;
    text-align: center;
    padding: 10px;
  }
  .programmHeadingContainer {
    padding: 10%;
  }
  .programmHeadingText {
    display: flex;
    text-align: center;
  }
  .programmSchedule {
    padding: 10%;
  }
  .programmDayHeading {
    padding: 5px;
  }
  .essenKarte {
    background-color: #d5e7e3;
    margin: 10%;
  }
  .essenKarteHeading {
    font-size: 1.5em;
    font-family: "Halcyon Black", sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px 0px #fff;
  }
  .flyerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flyerImage {
    width: 80%;
    height: auto;
    margin: 20px;
  }
  .flyerHeader {
    margin: 10%;
    font-size: 1.2em;
  }
}
.programmDaySchedule {
  text-align: justify;
}
.programmPoster {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.programmButton {
  background-color: #eceef5;
  font-family: "Halcyon Black", sans-serif;
  border-radius: 35px;
  font-size: 1.2em;
  padding: 10px 15px;
  box-shadow: 4px 4px 0px rgb(84, 97, 144);
}
.programmHeading {
  font-family: "Halcyon Black", sans-serif;
  color: #323a64;
}
.programmDayHeading {
  font-family: "Halcyon Black", sans-serif;
  color: #323a64;
  font-size: 3em;
  text-shadow: 2px 2px 0 #fff, 4px 4px 0 #fff, 5px 5px 0 #000;
}
.programmHeadingText {
  margin: 20px;
  background-color: #f1f7f6;
  box-shadow: 1px 4px 0px rgb(84, 97, 144);
  border-radius: 25px;
  padding: 10px;
}
.programmEvent {
  font-family: "Halcyon Medium", sans-serif;
  padding: 5px;
  font-size: 1.2em;
}
.flyerImage {
  padding: 15px;
  margin: 5%;
}
.flyerHeader {
  color: #323a64;
}
.essenKarteHeading {
  font-family: "Halcyon Black", sans-serif;
  font-size: 2em;
  text-shadow: 2px 2px 0 #fff, 4px 4px 0 #fff, 5px 5px 0 #000;
}
